/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/



/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body{
	background-color: #f1f1f1;
	font-size: 1em;
}

.clearfix:after
{
content:".";
display:none;
height:0;
clear:both;
visibility:hidden;
}
.clearfix
{display:inline-block;}

#maincontent{
	padding:20px;
	background-color: #fff;
	border: 1px solid #d7d7d7;
}
#maincontent ul{
	list-style-position:inside;
	list-style-type: none;

}
#maincontent h3,.panel h3{
	font-size: 1.7em;
}
#maincontent h4,.sidepanel h4{
	font-size: 1.4em;
}
.row{
	width:100%;
}
.sidepanel{
	background-color: #fff;
	border: 1px solid #d7d7d7;	
}
.center{
	width:1024px;
	margin:auto;
}
.main-bar{
	position: relative;
	float: left;
}
.alignleft{
	margin-left:0px;
}

table.dataTable{
	width:100%;
}

.dataTables_length select{
	width:60px;
}

.dataTables_filter label input[type="text"]{
	width:160px;
	float:right;
}

.action{
	font-size: 1.8em;
}

.sidemenu{
	font-size: 1.9em;	
}
.tabs.vertical dd a, .tabs.vertical li a{
	background-color: #fafafa;
}
.tabs.vertical dd a:hover, .tabs.vertical li a:hover{
	background-color: #fff;
}
.tabs.vertical dd a:hover i, .tabs.vertical li a:hover i{
	color: #2795b6;
}
/* -----------------------------------------
   Page Name 1
----------------------------------------- */
.mainheader{
	background: #c9ac78; /* Old browsers */
	background: -moz-linear-gradient(top,  #c9ac78 0%, #c99d4c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9ac78), color-stop(100%,#c99d4c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c9ac78 0%,#c99d4c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c9ac78 0%,#c99d4c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c9ac78 0%,#c99d4c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c9ac78 0%,#c99d4c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9ac78', endColorstr='#c99d4c',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #e3c388;
	width: 100%;
}
.container-content{
	float: none;
	margin-top: 30px;
}
#paramanusaLogo{
	background: transparent url(../images/logo.png);
	width: 161px;
	height: 90px;
	margin-left:30px;
	text-indent: -99999px;
}
.top-bar{
	margin: 0;
}
.top-bar ul.left{
	display: block;
	height: auto !important;
}
.top-bar ul li a{
	background: #000;
}
.top-bar ul > li:first-child a{
	padding:0 15px 0 35px;
}

.top-bar ul > li a:not(.button){
	
	font-size: 12px;
	font-weight: normal;
	
}
.tabs.vertical dd a, .tabs.vertical li a{
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
/* -----------------------------------------
   Page Name 2
----------------------------------------- */

.tableHeader h3{
	width: 50%;
	display: inline-block;
}
.tableHeader{
	margin-bottom: 40px;
}
.tableHeader a.newdoc{
	margin: 10px 0 0;
	vertical-align: middle;

}
.dataTables_filter label{
	display: block;
	vertical-align: middle;
	height: 30px;
}
.dataTables_filter label input{
	margin-top:-9px;
	margin-left: 7px;
}
.dataTables_wrapper{
	width: 100%;
	padding:0 15px;
}
.newdoc.action{
	font-size:1.7em; 
	background-position: top left;

}
.newdoc span{
	font-size: 12px;
	margin-top: 4px;
	vertical-align: top;
	display: inline-block;

}
tr.odd,tr.odd td.sorting_1{
	background-color: #fff;
}
table tbody tr.even,tr.even td.sorting_1{
	background-color: #f0f0f0;
}
.paging_full_numbers a.paginate_active{
	background-color: #000;
	color: #fff;
}
.paging_full_numbers a.paginate_active{
	color: #fff !important;
	border: none;
}
.sidepanel span.foundicon-mail{
	font-size:1em;
	color: #555555;
}

.message-list-side{
	margin-top: 10px;
	line-height: 17px;
}
.message-list-item{
	border-bottom: 1px solid #ddd;
	color: #656565;
	padding:8px 0;
}
.message-list-item span.author-info{
	color: #000;
}
.message-list-item span.category-info{
	color: #ac9b70;
	
	font-style: italic;
	font-size: 1.05em;
}
.message-list-item span.content-info{
	margin-top: 6px;
	color: #000;
	display: block;
}
footer p{
	margin-left: 20px;
}
/*FRONT*/
.front .mainheader{
	text-align: center;

}
body.front .mainheader #paramanusaLogo{
	margin: 0 auto;
	padding-bottom: 10px;
}
body.front .container-content{
	margin: 40px 0;
	text-align: center;
	width: 100%;
	float: none;
	position: relative;
}
body.front .container-content #maincontent{
	margin: 0 auto;
	text-align: left;	
	float: none;
	-webkit-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.2);
}
span.error{
	background-color: #ffcdcd;
	padding:8px;
	display: block;
	margin-bottom: 10px;
}
ul li{
	line-height: 20px;
}
li small.bullet{
	font-size: 0.6em;
	color: #bdbdbd;
}

